body{
  /*background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.779171043417367) 0%, rgba(85,9,121,0.8015800070028012) 2%, rgba(20,186,219,0.9906556372549019) 100%, rgba(69,46,146,1) 100%);;
*/
background: #3e5069
}
h1{
  color: #383838;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}



div.tooltip {
     position: absolute;
     text-align: center;
     padding: .2rem;
     background: #313639;
     color: #f9f9f9;
     border: 0px;
     border-radius: 8px;
     pointer-events: none;
     font-size: .7rem;

}

header{
  background: #F7CAC9;
  height: 50px;  
}



.text{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: #383838;

}

.dropdown{
  color: black;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  border-radius: 30px;
  background: white;
  padding: 5px; 
  width: 80px;
  height: 30px;  

}



/*
Pastels

background: pastel gradient 
font: 

background for graphs: see how it looks 



main graph: color code for each bar:
